<div class="container">
  <mat-stepper linear #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Enter the NIT of the company to be registered</ng-template>
        <mat-form-field class="width-100">
          <mat-label>NIT</mat-label>
          <input matInput placeholder="NIT of the company" name="nitValue" [formControl]="nitValue" required
            [errorStateMatcher]="errorState">
          <mat-error *ngIf="nitValue.hasError('required')"> <span>This is required</span> </mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="end">
          <button mat-raised-button color="primary" (click)="checkRegister()">Continue</button>
        </div>
      </form>
    </mat-step>
    <mat-step label="Enter Company Details">
      <form [formGroup]="registrationForm">
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>Identification Type</mat-label>
            <mat-select formControlName="identificationType" [errorStateMatcher]="errorState" required>
              <mat-option *ngFor="let type of types" [value]="type">
                {{type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="registrationForm.controls.identificationType.hasError('required')"> <span>This is
                required</span> </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>Identification Number</mat-label>
            <input type="text" formControlName="identificationNumber" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.identificationNumber.hasError('required')"> <span>This is
                required</span> </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="registrationForm.value.identificationType=='NIT'">
          <mat-form-field fxFlex>
            <mat-label>Company Name</mat-label>
            <input type="text" formControlName="companyName" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.companyName.hasError('required')"> <span>This is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="registrationForm.value.identificationType!='NIT'">
          <mat-form-field fxFlex>
            <mat-label>First Name</mat-label>
            <input type="text" formControlName="firstName" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.firstName.hasError('required')"> <span>This is required</span>
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Second Name</mat-label>
            <input type="text" formControlName="secondName" matInput [errorStateMatcher]="errorState">
            <mat-error *ngIf="registrationForm.controls.secondName.hasError('required')"> <span>This is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" *ngIf="registrationForm.value.identificationType!='NIT'">
          <mat-form-field fxFlex>
            <mat-label>First Last Name</mat-label>
            <input type="text" formControlName="firstLastName" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.firstLastName.hasError('required')"> <span>This is
                required</span> </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <mat-label>Second Last Name</mat-label>
            <input type="text" formControlName="secondLastName" matInput [errorStateMatcher]="errorState">
            <mat-error *ngIf="registrationForm.controls.secondLastName.hasError('required')"> <span>This is
                required</span> </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>E-mail</mat-label>
            <input type="text" formControlName="email" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.email.hasError('required')"> <span>This is required</span>
            </mat-error>
            <mat-error *ngIf="registrationForm.controls.email.hasError('email')"> <span>Enter Valid E-mail</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>Address</mat-label>
            <input type="text" formControlName="address" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.address.hasError('required')"> <span>This is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>Municipality of the address</mat-label>
            <input type="text" formControlName="municipality" matInput [errorStateMatcher]="errorState">
            <mat-error *ngIf="registrationForm.controls.municipality.hasError('required')"> <span>This is
                required</span> </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
          <mat-form-field fxFlex>
            <mat-label>Cell Phone</mat-label>
            <input type="text" formControlName="phone" matInput [errorStateMatcher]="errorState" required>
            <mat-error *ngIf="registrationForm.controls.phone.hasError('required')"> <span>This is required</span>
            </mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap.gt-sm="24px">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" (click)="register()">Register</button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>

</div>

<ng-template #messageBox>
  <h1 mat-dialog-title>{{dialogData.type}}</h1>
  <div mat-dialog-content>{{dialogData.message}}</div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close type="button">Close</button>
  </div>
</ng-template>